<div class="flex items-center justify-center h-screen">
  <div class="w-full max-w-md space-y-6">
    <div class="flex flex-col items-center">
      <aplz-ui-logo size="lg"></aplz-ui-logo>
      <p class="text-3xl text-center font-normal text-dark my-16">Iniciar sesión como comerciante</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="login()">
      <div class="space-y-24">
        <div>
          <aplz-input
            id="username"
            label="Correo electrónico"
            placeholder="Escribe tu correo electrónico"
            formControlName="username"
            [applyLowerCase]="true"
            [applyNoWhiteSpace]="true"
            [error]="getErrorMessage('username')"
          />
        </div>
        <div>
          <aplz-input
            id="password"
            type="password"
            label="Contraseña"
            placeholder="Escribe tu contraseña"
            formControlName="password"
            [error]="getErrorMessage('password')"
          />
        </div>
        <button
          aplzButton
          aplzAppearance="stroked"
          aplzColor="dark"
          size="md"
          type="submit"
          [rounded]="true"
          [fullWidth]="true"
        >
          Iniciar sesión
        </button>
      </div>
    </form>
  </div>
</div>
